  </body>
   <footer class="footer">
        <dl class="visitekaartje-dl">
          <dt>SOCIAAL</dt>
          <dd>𓇼𓇼</dd>

          <dt>BEHULPZAAM</dt>
          <dd>𓇼𓇼𓇼</dd>

          <dt>COMMUNICEREN</dt>
          <dd>𓇼𓇼𓇼</dd>

        </dl>
      </footer>
</html>