  <footer class="footer">
    <nav class="buttons">
      <a class="buttons__btn" href="#" target="_blank" rel="noopener">GitHub</a>
      <a class="buttons__btn" href="#" target="_blank" rel="noopener">LinkedIn</a>
    </nav>
  </footer>

</body>
</html>
