{% render 'partials/head.liquid' %}

<article class="page">

  <header class="hero">
    <figure class="hero__media">
      <img class="hero__img" src="Squad1J-Jasin-2.jpg" alt="{{ person.name }}">
    </figure>

    <h1 class="hero__name">{{ person.name }}</h1>
    <p class="hero__badge">FDND STUDENT</p>
  </header>

  <main class="content">

    <details class="item" open>
      <summary class="item__btn">
        <h2 class="item__title">Wie ben ik</h2>
      </summary>
      <section class="item__panel">
        <p class="item__text">
          Ik ben een eerstejaars Front-end student. Ik wil beter worden door veel te oefenen met projecten
          en duidelijke, rustige designs te maken.
        </p>
      </section>
    </details>

    <details class="item">
      <summary class="item__btn">
        <h2 class="item__title">Hobby’s</h2>
      </summary>
      <section class="item__panel">
        <ul class="tags">
          <li class="tag">Geschiedenis</li>
          <li class="tag">Boeken</li>
          <li class="tag">Films</li>
          <li class="tag">Series</li>
        </ul>
      </section>
    </details>

    <details class="item">
      <summary class="item__btn">
        <h2 class="item__title">Skills</h2>
      </summary>
      <section class="item__panel">
        <ul class="tags">
          <li class="tag">HTML</li>
          <li class="tag">CSS</li>
          <li class="tag">JavaScript</li>
        </ul>
      </section>
    </details>

  </main>

  <footer class="footer">
  </footer>

</article>

{% render 'partials/foot.liquid' %}
